
/* Estilos generales */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f8f8f8;
  color: #222;
  display: flex;
  height: 100vh;
}

h4{
  text-align: center;
}

span{
  text-align: center;
}

nav {
  width: 240px;
  background-color: #000;
  color: #fff;
  height: 100vh;
  position: fixed;
  padding: 20px;
  top: 0;
  left: 0;
}

ul{
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin: 0;
}
.nav-item {
  display: block;
  text-align: left;
  text-decoration: none;
  padding: 10px 20px;
  margin-bottom: 10px;
  transition: background-color 0.3s;
}

.nav-link{
  text-decoration: none;
  color: #ddd;
  font-size: 16px;
  font-weight: 600;
}

nav .nav-item:hover {
  background-color: #444;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #eee !important;
}

.dropdown-menu .dropdown-item:active {
  color: #000;
}

main {
  margin-left: 250px;
  flex-grow: 1;
  padding: 20px;
}

.topbar {
  background-color: #212529;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.card {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

