{% extends "administrador/layout.html" %}
{% load static %}

{% block tile %}
    Clientes Form
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/registro.css' %}">
{% endblock %}

{% block body %}
<div class="container mt-4">
    <h3 class="text-center">
        Registrar
    </h3>
    <hr>
        <div class="mx-auto" style="max-width: 750px;">
            <form method="post" action="{% if persona %}{% url 'administrador:editar_persona' persona.id %}{% else %}{% url 'administrador:crear_persona' %}{% endif %}" class="shadow p-4 bg-white rounded" autocomplete="off">
                {% csrf_token %}
        
                <!-- Mostrar errores generales -->
                {% if persona_form.errors %}
                    <div class="alert alert-danger">
                        {% for field in persona_form %}
                            {% for error in field.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if empleado_form.errors %}
                    <div class="alert alert-danger">
                        {% for field in empleado_form %}
                            {% for error in field.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if proveedor_form.errors %}
                    <div class="alert alert-danger">
                        {% for field in proveedor_form %}
                            {% for error in field.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
        
                <div class="mb-3">
                    <label class="form-label">Nombre</label>
                    {{ persona_form.nombre }}
                </div>
        
                <div class="mb-3">
                    <label class="form-label">Apellido</label>
                    {{ persona_form.apellido }}
                </div>
        
                <div class="mb-3">
                    <label class="form-label">Teléfono</label>
                    {{ persona_form.telefono }}
                </div>
        
                <div class="mb-3">
                    <label class="form-label">Fecha de Nacimiento</label>
                    {{ persona_form.fecha_nacimiento }}
                </div>
        
                <div class="mb-3">
                    <label class="form-label">Cédula</label>
                    {{ persona_form.cedula }}
                </div>

                <div class="mb-3">
                    <label class="form-label">RUC</label>
                    {{ persona_form.ruc }}
                </div>

                <div class="mb-3">
                    <label class="form-label">Correo</label>
                    {{ persona_form.correo }}
                </div>
        
                <div class="mb-3">
                    <label class="form-label">Ciudad</label>
                    {{ persona_form.ciudad }}
                </div>
        
                <div class="mb-3">
                    <label class="form-label">Barrio</label>
                    {{ persona_form.barrio }}
                </div>
        
                <div class="mb-3">
                    <label class="form-label">Nacionalidad</label>
                    {{ persona_form.nacionalidad }}
                </div>
                
                <!-- Dropdown de Rol -->
                <div class="mb-3">
                <label class="form-label">Rol</label>
                    {{ rol_form.rol }}
                </div>
        
                <!-- Campos dinámicos para Empleado -->
                <div id="empleadoFields" class="campos-dinamicos" style="display: none;">
                    <div class="mb-3">
                        <label class="form-label">Salario</label>
                        {{ empleado_form.salario }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Fecha de Contratación</label>
                        {{ empleado_form.fecha_contratacion }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Tipo de Empleado</label>
                        {{ empleado_form.tipo }}
                    </div>
                </div>
        
                <!-- Campos dinámicos para Proveedor -->
                <div id="proveedorFields" class="campos-dinamicos" style="display: none;">
                    <div class="mb-3">
                        <label class="form-label">Empresa</label>
                        {{ proveedor_form.nombre_empresa }}
                    </div>
                </div>
                <!-- Botones -->
                <div class="d-flex justify-content-center gap-4 mt-2">
                    <button type="submit" class="btn btn-dark">
                        {% if persona %} Actualizar{% else %}Registrar{% endif %}
                    </button>
                    <a href="{% url 'administrador:listar_personas' %}" class="btn btn-danger">Cancelar</a>
                </div>
            </form>
        </div>
</div>

<!-- JavaScript para manejar los campos dinámicos -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const rol = document.getElementById('rol-select');
            const empleadoFields = document.getElementById('empleadoFields');
            const proveedorFields = document.getElementById('proveedorFields');

            const empleadoInputs = empleadoFields.querySelectorAll('input, select');
            const proveedorInputs = proveedorFields.querySelectorAll('input, select');

            function toggleFields() {
                const isEmpleado = rol.value === 'empleado';
                const isProveedor = rol.value === 'proveedor';

                empleadoFields.style.display = isEmpleado ? 'block' : 'none';
                proveedorFields.style.display = isProveedor ? 'block' : 'none';

                empleadoInputs.forEach(input => input.required = isEmpleado);
                proveedorInputs.forEach(input => input.required = isProveedor);
            }

            if (rol) {
                rol.addEventListener('change', toggleFields);
                toggleFields();
            }
        });
    </script>
{% endblock %}
