{% extends "administrador/layout.html" %}
{% load static %}

{% block tile %}
    Clientes Form
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/registro.css' %}">
{% endblock %}

{% block body %}
<div class="container mt-4">
    <h3 class="text-center">
        {% if cliente %}Editar Cliente{% else %}Registro{% endif %}
    </h3>
        <hr>
    <form method="post" action="{% if cliente %} {% url 'editar_cliente' cliente.id %}{% else %}{% url 'crear_cliente' %}{% endif %}" class="shadow p-4 bg-white rounded">
        {% csrf_token %}

        <div class="mb-3">
            <label for="{{ form.nombre.id_for_label }}" class="form-label">Nombre</label>
            {{ form.nombre }}
        </div>

        <div class="mb-3">
            <label for="{{ form.apellido.id_for_label }}" class="form-label">Apellido</label>
            {{ form.apellido }}
        </div>

        <div class="mb-3">
            <label for="{{ form.telefono.id_for_label }}" class="form-label">Teléfono</label>
            {{ form.telefono }}
        </div>

        <div class="mb-3">
            <label for="{{ form.email.id_for_label }}" class="form-label">Correo</label>
            {{ form.email }}
        </div>

        <div class="mb-3">
            <label for="{{ form.fecha_nacimiento.id_for_label }}" class="form-label">Fecha de Nacimiento</label>
            {{ form.fecha_nacimiento }}
        </div>

        <div class="mb-3">
            <label for="{{ form.cedula.id_for_label }}" class="form-label">Cédula</label>
            {{ form.cedula }}
        </div>

        <div class="mb-3">
            <label for="{{ form.ciudad.id_for_label }}" class="form-label">Ciudad</label>
            {{ form.ciudad }}
        </div>

        <div class="mb-3">
            <label for="{{ form.barrio.id_for_label }}" class="form-label">Barrio</label>
            {{ form.barrio }}
        </div>

        <div class="mb-3">
            <label for="{{ form.nacionalidad.id_for_label }}" class="form-label">Nacionalidad</label>
            {{ form.nacionalidad }}
        </div>

        <div class="mb-3">
            <label for="{{ form.ruc.id_for_label }}" class="form-label">RUC</label>
            {{ form.ruc }}
        </div>

        <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-dark">
                {% if cliente %}Guardar Cambios{% else %}Registrar{% endif %}
            </button>
            <a href="{% url 'listar' %}" class="btn btn-danger">Cancelar</a>
        </div>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
{% endblock %}