{% for dato in personas %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ dato.persona.cedula }}</td>
        <td>{{ dato.persona.nombre }}</td>
        <td>{{ dato.persona.apellido }}</td>
        <td>{{ dato.tipo_persona }}</td>
        <td>{{ dato.persona.telefono }}</td>
        <td>
            <a href="{% url 'administrador:editar_persona' dato.persona.id %}" class="btn btn-sm btn-outline-primary me-2">Editar</a>
            <a href="{% url 'administrador:eliminar_persona' dato.persona.id %}" class="btn btn-sm btn-outline-danger me-2">Eliminar</a>
        </td>
    </tr>
{% endfor %}
