{% extends "administrador/layout.html" %}
{% load static %}

{% block title %}
    Productos
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/productos.css' %}">
{% endblock %}

{% block body %}
<div class="container">
    <div class="header">
        <h2>Productos</h2> 
        <hr>
    </div>
    <div class="header">
        <button class="btn btn-primary"
            data-bs-toggle="modal" data-bs-target="#productModal"
            hx-get="{% url 'administrador:crear_partial' %}"
            hx-target="#productFormBody"
            hx-swap="innerHTML">
            + Nuevo
        </button>
    </div>
    
    <div class="filters">
        <input type="text" placeholder="Buscar..." class="form-control w-auto" id="searchInput">
        <input type="text" placeholder="Código" class="form-control w-auto" id="codeInput">
        <div class="filter-section">
            
            <select class="form-select" id="categorySelect">
                <option selected>Todo</option>
                <option>Hamburguesas</option>
                <option>Bebidas</option>
                <option>Papas Fritas</option>
            </select>
        </div>
    </div>
    
    <div class="table-container">
        <table class="table">
            <thead>
                <tr>
                    <th>Imagen</th>
                    <th>Cód.</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Descripción</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody id="productTableBody"
                hx-get="{% url 'administrador:listar_partial' %}"
                hx-trigger="load"
                hx-swap="innerHTML">
            </tbody>
        </table>
    </div>
</div>

<!-- Modal para añadir/editar producto -->
<div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productModalLabel">Añadir Producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="productFormBody">
                <!-- Se cargaran los datos de la bd -->
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'js/script.js' %}"></script>

{% endblock %}